//Color Schemes
$color-primary: #7ed56f;
$color-primary-light:#2ecc71;
$color-primary-dark:#27ae60;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$gray-color-1:#f7f7f7;

//Font-Variables
$global-font-size:10px;
$default-font-size:1.6rem;

//Grid 
$grid-width:114rem;
$grid-space-vertical:8rem;
$grid-space-horizontal:7rem;