//Color Schemes
$color-primary: #7ed56f;
$color-primary-light:#2ecc71;
$color-primary-dark:#27ae60;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$gray-color-1:#f7f7f7;

//Font-Variables
$global-font-size:10px;

//Grid 
$grid-width:114rem;
$grid-space-vertical:8rem;
$grid-space-horizontal:4rem;