.composition {
    position: relative;
    &__photo {
        width: 55%;
        transition: all 0.2s;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 0.2rem;
        z-index: 1;
        outline-offset: 1rem;
        position: absolute;
        @include respond(tab-land) {
            float: left;
            position: relative;
            width: 33.3333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
        }
        &--p1 {
            top: -2rem;
            left: 0;
            @include respond(tab-land) {
                top: 0;
            }
        }
        &--p2 {
            top: 2rem;
            right: 0;
            @include respond(tab-land) {
                top: 0;
                transform: scale(1.2);
                z-index: 10;
            }
        }
        &--p3 {
            top: 10rem;
            left: 20%;
            @include respond(tab-land) {
                top: 0;
                left: 0;
            }
        }
        &:hover {
            transform: scale(1.05);
            outline: .5rem solid $color-primary;
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 2;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}